
#body{
	background: black;
	color: white;
	font-size: 150%;
}
h1{
	color: red;
}
div{

}
span.boxType{
	margin: 20px;
	border: 1px solid black;
	background-color: black;
	color: white;
	border-width: 10px;
}

